@font-face {
  font-family: "fw-bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("truetype");
}
@font-face {
  font-family: "fw-regular";
  src: url("../font/MYRIADPRO-REGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "fw-bold-i";
  src: url("../font/Arsenal-BoldItalic.ttf") format("truetype");
}
/* @font-face {
  font-family: "fw-regular";
  src: url("../font/Arsenal-Regular.ttf") format("truetype");
} */
@font-face {
  font-family: "fw-regular-i";
  src: url("../font/Arsenal-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "ro-regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "ro-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "ro-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "quick";
  src: url("../font/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "antiqua";
  src: url("../font/ANTQUAB.ttf") format("truetype");
}
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-regular";
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.wrapper {
  /* background-color: #fcf9f3; */
  overflow: hidden;
}

@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
}
@keyframes scale {
  80% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}
.grid {
  width: 100%;
  display: block;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 739px) {
  .grid.wide {
    padding: 0 24px;
  }
}

/* Mobile */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 6px;
  padding-right: 6px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-0 {
  margin-left: 0;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
.m-2,
.m-3,
.m-4,
.m-5,
.m-6,
.m-7,
.m-8,
.m-9,
.m-10,
.m-11,
.m-12 {
    display: block;
  }

  .m-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-0 {
    margin-left: 0;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.big-gutter {
    margin-left: -25px;
    margin-right: -25px;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .row.big-gutter .col {
    padding-left: 25px;
    padding-right: 25px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
    display: block;
  }

  .l-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-0 {
    margin-left: 0;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}
.main{
  padding: 0 7vw;
  position: relative;
}
.footer__body{
  padding: 2vw 7vw;
  }
/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .row.big-gutter {
    margin-left: -25px;
    margin-right: -25px;
  }

  .wide .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .row.big-gutter .col {
    padding-left: 25px;
    padding-right: 25px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
.wide .l-2,
.wide .l-2-4,
.wide .l-3,
.wide .l-4,
.wide .l-5,
.wide .l-6,
.wide .l-7,
.wide .l-8,
.wide .l-9,
.wide .l-10,
.wide .l-11,
.wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-0 {
    margin-left: 0;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
.header{
  margin-bottom: 1vw;
}
.header__head {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 1vw;
  padding: 0.4vw 10vw;
}
.header__head__contact {
  display: flex;
}
.header__head__contact span {
  display: flex;
  align-items: center;
  margin-right: 2vw;
}
.header__head__contact span i {
  margin-right: 0.3vw;
}
.header__head__contact span p {
  margin: 0;
}
.header__head__search {
  cursor: pointer;
}
.header__body {
  padding: 0 7vw;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: all ease 0.3s;
  background-color: #f26633;
}
.header__body--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fcf9f3;
  box-shadow: 1px 1px 5px 1px rgba(11, 11, 11, 0.5);
  padding: 0.6vw 10vw;
}
.header__body--sticky .header__logo {
  width: 4vw;
}
.header__body--sticky .header__dropdown::before {
  height: 2.2vw;
}
.header__logo {
  width: 5vw;
  height: 80px;
  display: block;
  transition: all ease 0.3s;
}
.header__logo img {
  height: 80px;
}
.header__menu {
  display: flex;
  padding-top: 7px;
  list-style: none;
  padding-left: 20vw;
}
.search{
  display: flex;
  font-size: 1vw;
  font-weight: 500;
  width: 230px;
  justify-content: space-evenly;
}
.login-register{
  border-radius: 10px 0 0 10px;
  color: #f26633;
  background-color: #fff;
  width: 190px;
  padding: 5px 0 0 15px;
  border-right: 2px solid #f26633;
}
.search-btn{
  width: 40px;
  border-radius: 0 10px 10px 0;
  color: #f26633;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 5px;
}
.search a{
  color: #f26633;
  text-decoration: none;
  font-weight: 600;
}
.header__item {
  margin-left: 4vw;
}
.header__item:hover .header__dropdown {
  opacity: 1;
  pointer-events: all;
}
.header__item__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  display: flex;
  align-items: baseline;
  font-weight: 600;
  font-family: 'fw-bold';
  text-transform: uppercase;
}
.header__item__link:hover {
  opacity: 0.8;
}
.header__item__link i {
  margin-left: 0.3vw;
  font-size: 1vw;
}
.header__dropdown {
  position: absolute;
  z-index: 2;
  top: 100%;
  background-color: #ffffff;
  width: 15%;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  padding: 1vw 1.5vw;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
  /* max-height: 90vh;
  overflow: auto; */
}
.header__dropdown::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3.5vw;
  bottom: 100%;
}
.header__dropdown ul {
  padding-left: 0;
  list-style: none;
}
.header__dropdown ul li {
  padding: 0.5vw 0;
}
.header__dropdown ul li:not(:last-child) {
  border-bottom: 1px solid #224229;
}
.header__dropdown ul li a {
  text-decoration: none;
  font-size: 1.2vw;
  color: #224229;
}
.header__dropdown ul li a:hover {
  opacity: 0.8;
  color: #008749;
}
.header__search__modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
}
.header__search__modal--active {
  opacity: 1;
  pointer-events: all;
}
.header__search__modal i {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  font-size: 1.5vw;
  color: #ffffff !important;
}
@media (max-width: 1023px) {
  .header__search__modal i {
    font-size: 8vw !important;
    top: 2vw;
    right: 2vw;
  }
  .not-available{
    font-size: 4vw !important;
  }
}
.header__search__modal i:hover {
  opacity: 0.8;
}
.header__search__input {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 3vw));
  z-index: 2;
  width: 35vw;
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.2s;
}
@media (max-width: 1023px) {
  .header__search__input {
    width: 70vw;
  }
}
.header__search__input--active {
  opacity: 1;
  transform: translate(-50%, -10%);
  pointer-events: all;
}
.header__search__group {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 0 10px 2px rgba(255, 255, 255, 0.2);
  padding: 0 1vw;
  border-radius: 1.75vw;
  height: 3.5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .header__search__group {
    height: 8vw;
    padding: 0 2vw;
  }
}
.header__search__group input {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.4vw;
  height: 100%;
  flex: 1;
  font-family: quick;
}
@media (max-width: 1023px) {
  .header__search__group input {
    font-size: 3.6vw;
  }
}
.header__search__group input::placeholder {
  color: #ffffff;
  font-family: quick;
}
.header__search__group button {
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: all linear 0.2s;
  height: 100%;
  cursor: pointer;
}
.header__search__group button:hover {
  opacity: 0.8;
}
.header__search__group button i {
  color: #ffffff;
  font-size: 1.8vw;
}
@media (max-width: 1023px) {
  .header__search__group button i {
    font-size: 3.6vw;
  }
}
.header__search__suggest {
  max-height: 29vw;
  overflow: auto;
  display: none;
}
@media (max-width: 1023px) {
  .header__search__suggest {
    max-height: 50vh;
  }
}
.header__search__suggest--active {
  display: block;
}
.header__search__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.header__search__item {
  padding: 1vw 1.5vw;
  transition: all linear 0.2s;
}
.header__search__item:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
@media (max-width: 1023px) {
  .header__search__item {
    padding: 2vw 3vw;
  }
}
.header__search__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.header__search__item__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-family: quick;
  justify-content: space-between;
}
.header__search__item__image {
  width: 3vw;
  height: 3vw;
  min-width: 3vw;
  min-height: 3vw;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1023px) {
  .header__search__item__image {
    width: 8vw;
    height: 8vw;
    min-width: 8vw;
    min-height: 8vw;
  }
}
.header__search__item__name {
  font-size: 1.5vw;
  margin: 0 1.2vw;
}
@media (max-width: 1023px) {
  .header__search__item__name {
    font-size: 3.2vw;
    margin: 0 3vw;
  }
}
.header__search__item__price {
  font-size: 1.5vw;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .header__search__item__price {
    font-size: 3vw;
  }
}
.header__search__item__price span {
  text-decoration: underline;
  margin-left: 0.2vw;
}
.header__search__item__price__new {
  display: flex;
}
.header__search__item__price__old {
  display: flex;
  text-decoration: line-through;
  opacity: 0.6;
}
.header-mb__head {
  display: none;
}
@media (max-width: 1023px) {
  .header-mb__head {
    display: block;
    background-color: #f26633;
    color: #ffffff;
    font-size: 3vw;
    text-align: center;
    font-family: fw-bold;
    padding: 0.8vw 0;
  }
}
.header-mb__body {
  display: none;
}
@media (max-width: 1023px) {
  .main{
    padding: 0;
  }
  .slider .prev-arrow {
    left: 10px!important;
  }
  .slider .next-arrow {
    right: 10px!important;
  }
  .slider .slide-arrow {
    background-color: rgba(255, 255, 255, 0.5)!important;
  }
  .header-mb__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2vw 4vw;
    background-color: #fcf9f3;
    box-shadow: 1px 1px 5px 1px rgba(11, 11, 11, 0.5);
    transition: all ease 0.3s;
  }
}
.header-mb__body--active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.header-mb__body--active .header-mb__logo {
  width: 15%;
}
.header-mb__bars > i {
  font-size: 4vw;
  color: #f26633;
}
.header-mb__list {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 0;
  list-style: none;
  margin: 0;
  overflow: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
  transition: all linear 0.3s;
}
.header-mb__list--active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
  z-index: 4;
}
.header-mb__list__close {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 8vw;
  color: #ffffff;
}
.header-mb__item {
  margin: 3vw 0;
  text-align: center;
  width: 70vw;
  text-align:left!important;
}
.header-mb__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 4.5vw;
  text-transform: uppercase;
  font-family: quick;
  font-weight: bold;
}
.header-mb__logo {
  width: 20%;
  transition: all linear 0.3s;
}
.header-mb__logo img {
  width: 100%;
}
.header-mb__search i {
  font-size: 4vw;
  color: #f26633;
}
.header-mb__dropdown {
  display: none;
}
.header-mb__dropdown__list {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
}
.header-mb__dropdown__item {
  margin-bottom: 2vw;
  width: 60vw;
}
.header-mb__dropdown__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 4vw;
  font-family: quick;
}
.header-mb__icon-drop::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-size: 4vw;
  margin-left: 1vw;
  display: inline-block;
  transition: all linear 0.2s;
}
.header-mb__icon-drop--active::after {
  transform: rotate(180deg);
}

.glosbe {
  display: flex;
  align-items: center;
}
.glosbe::after {
  font-size: 0.7vw;
  font-weight: bold;
  padding: 0.2vw 0.5vw;
  line-height: 1;
  color: #ffffff;
  border-radius: 0.4vw;
  margin-left: 1vw;
  text-transform: uppercase;
}
.glosbe--hot::after {
  content: "Hot";
  background-color: #aa2222;
}
.glosbe--popular::after {
  content: "Popular";
  background-color: #2e8d2e;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: #fcf9f3;
  display: flex;
  transition: all linear 0.3s;
}
.loading--remove {
  opacity: 0;
  pointer-events: none;
}
.loading img {
  margin: auto;
  width: 10%;
  animation: scale 1s linear 0s infinite;
}
@media (max-width: 1023px) {
  .loading img {
    width: 20%;
  }
}

.to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 3vw;
  height: 3vw;
  background-color: #f26633;
  text-decoration: none;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
  bottom: 5vw;
  right: 2vw;
  z-index: 3;
}
.to-top--active {
  opacity: 1;
  pointer-events: all;
}
@media (max-width: 1023px) {
  .to-top {
    width: 8vw;
    height: 8vw;
    right: 4vw;
    right: 5vw;
  }
}
.to-top i {
  margin: auto;
  font-size: 1.5vw;
}
.detail-slides.list-pro {
  padding: 2vw 10vw;
}
@media (max-width: 1023px) {
  .to-top i {
    font-size: 4vw;
  }
  .detail-slides.list-pro {
    padding: 0;
  }
}

.container{
  padding: 2vw 10vw;
}
.list-pro {
  padding: 2vw 0.5vw;
}
@media (max-width: 1023px) {
  .container {
    padding: 1vw;
  }
  .gallery-content.container{
    padding: 4vw;
  }
}
.slider .slick-dots {
  list-style: none;
  display: flex;
  padding-left: 0;
  position: absolute;
  bottom: -2vw;
  left: 50%;
  transform: translateX(-50%);
}
.slider .slick-dots li {
  margin: 0 0.2vw;
}
@media (max-width: 1023px) {
  .slider .slick-dots li {
    margin: 0 0.5vw;
  }
  .news__body .readmore{
    padding: 13px 10px 10px 10px!important;
    font-size: 2vw!important;
  }
  .news{
    padding: 10vw 0!important;
  }
}
.slider .slick-dots li button {
  font-size: 0;
  width: 1vw;
  height: 1vw;
  border: 0;
  outline: 0;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background: #ddd;
}
@media (max-width: 1023px) {
  .slider .slick-dots li button {
    width: 3vw;
    height: 3vw;
  }
  .slider .slick-dots {
    bottom: -5vw;
  }
}
.slider .slick-dots .slick-active button {
  background-color: #f26633;
}

.slide {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 90vh;
}
.slide__block {
  color: #f26633;
  width: 30vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10vw;
}
@media (max-width: 1023px) {
  .slide__block {
    width: 92vw;
    left: 4vw;
  }
}
.slide__sub {
  font-size: 1.2vw;
  font-family: quick;
  font-weight: bold;
}
@media (max-width: 1023px) {
  .slide__sub {
    font-size: 5vw;
  }
}
.slide__title {
  font-size: 2.6vw;
  font-family: fw-bold;
  margin: 1.5vw 0 2vw;
  font-family: 'fw-bold';
}
@media (max-width: 1023px) {
  .slide__title {
    font-size: 12vw;
    margin: 3vw 0 6vw;
  }
}
.slide__link {
  font-size: 1.2vw;
  border: 0.2vw solid #f26633;
  display: inline-block;
  padding: 0.3vw 1vw;
  border-radius: 0.5vw;
  text-transform: uppercase;
  font-family: fw-bold;
  text-decoration: none;
  color: #f26633;
  transition: all ease 0.3s;
}
@media (max-width: 1023px) {
  .slide__link {
    font-size: 5vw;
    padding: 0.6vw 4vw;
    border-radius: 2vw;
  }
}
.slide__link:hover {
  color: #ffffff;
  background-color: #f26633;
}

.banner {
  height: 30vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .banner {
    height: 100vw;
  }
}

.list-pro__heading {
  text-align: center;
  margin: 0 0 2vw 0;
  font-size: 2vw;
  color: #f26633;
  font-family: 'fw-bold';
}
.list-pro__heading a{
  color: #f26633;
  transition: all ease 0.3s;
  text-decoration: none;
}
.list-pro__heading a:hover{
  color: #1d704f;
  transition: all ease 0.3s;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .list-pro__heading {
    font-size: 6vw;
    margin-bottom: 4vw;
  }
}
.list-pro__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail-slides .list-pro__container .list-pro__block{
  width: 15vw;
}
.detail-slides .list-pro__container .list-pro__image{
  height: 15vw;
}
.list-pro__container .list-pro__block{
  width: 19vw;
}
.list-pro__container .list-pro__image{
  height: 19vw;
}
.list-pro__block {
  width: 15vw;
  background-color: #ffffff;
  text-decoration: none;
  margin-bottom: 1vw;
  transition: all ease 0.3s;
}
@media (max-width: 1023px) {
  .list-pro__block {
    width: 44vw !important;
    margin-bottom: 4vw;
  }
}
.list-pro__block:hover {
  box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.2);
}
.list-pro__block:hover .list-pro__image {
  background-size: 110% 110%;
}
.list-pro__image {
  height: 15vw;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: all ease 0.3s;
}
@media (max-width: 1023px) {
  .list-pro__image {
    height: 44vw !important;
  }
}
.list-pro__bot {
  padding: 0.6vw 1vw 1vw;
}
@media (max-width: 1023px) {
  .list-pro__bot {
    padding: 3vw;
  }
}
.list-pro__name {
  color: #224229;
  font-size: 1.2vw;
  line-height: 1.7vw;
  height: 3.4vw;
  margin-bottom: 0.5vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .list-pro__name {
    font-size: 4vw;
    line-height: 5vw;
    height: 10vw;
  }
}
.list-pro__price {
  color: #f26633;
  font-size: 1.3vw;
  font-family: fw-bold;
  color: #008749;
}
@media (max-width: 1023px) {
  .list-pro__price {
    font-size: 5vw;
  }
}
.list-pro--category .list-pro__block {
  width: 19vw;
}
.list-pro--category .list-pro__image {
  height: 19vw;
}
.list-pro__slider .slick-slide,.home-pro__slider .slick-slide,.slider .slick-slide {
  padding: 0.5vw;
}
.list-pro__slider .slick-list,.home-pro__slider .slick-list,.slider .slick-list {
  margin: 0 -0.5vw;
}
.list-pro__slider .slide-arrow, .home-pro__slider .slide-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2vw;
  border: 0;
  outline: 0;
  z-index: 1;
  color: #847f7d;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}
.slider .slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2vw;
  border: 0;
  outline: 0;
  z-index: 1;
  color: #847f7d;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}
@media (max-width: 1023px) {
  .list-pro__slider .slide-arrow,.home-pro__slider .slide-arrow,.slider .slide-arrow {
    font-size: 7vw;
  }
  .list-pro__slider .slick-slide,.home-pro__slider .slick-slide,.slider .slick-slide {
    padding: 0;
  }
}
.list-pro__slider .prev-arrow,.home-pro__slider .prev-arrow{
  left: 0;
}
.slider .prev-arrow {
  left: -30px;
}
.slider .next-arrow {
  right: -30px;
}
.list-pro__slider .next-arrow,.home-pro__slider .next-arrow{
  right: 0;
}

.reason-choose {
  display: flex;
}
@media (max-width: 1023px) {
  .reason-choose {
    flex-direction: column;
  }
}
.reason-choose__image {
  width: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .reason-choose__image {
    width: 100%;
    height: 92vw;
  }
}
.reason-choose__body {
  width: 60%;
}
@media (max-width: 1023px) {
  .reason-choose__body {
    width: 100%;
  }
}
.reason-choose__heading {
  font-size: 2vw;
  text-align: center;
  margin: 2vw 0;
  color: #f26633;
  font-family: 'fw-bold';
}
@media (max-width: 1023px) {
  .reason-choose__heading {
    margin: 6vw 0;
    font-size: 6vw;
  }
}
.reason-choose__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.reason-choose__block {
  width: 40%;
  margin-bottom: 2vw;
}
@media (max-width: 1023px) {
  .reason-choose__block {
    width: 100%;
    margin-bottom: 6vw;
  }
}
.reason-choose__title {
  display: flex;
  align-items: center;
}
.reason-choose__title img {
  width: 15%;
}
@media (max-width: 1023px) {
  .reason-choose__title img {
    width: 10%;
  }
}
.reason-choose__title span {
  font-size: 1vw;
  text-transform: uppercase;
  font-family: quick;
  font-weight: bold;
  margin-left: 5%;
}
@media (max-width: 1023px) {
  .reason-choose__title span {
    font-size: 4vw;
  }
}
.reason-choose__des {
  padding-left: 20%;
  font-size: 1vw;
  font-family: quick;
}
@media (max-width: 1023px) {
  .reason-choose__des {
    font-size: 3.6vw;
    padding-left: 15%;
  }
}

.news__heading,.contact__heading {
  font-size: 2.4vw;
  text-align: center;
  color: #f26633;
  margin: 0;
  font-family: 'fw-bold';
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  .news__heading,.contact__heading {
    font-size: 6vw;
    margin-bottom: 4vw;
  }
}
.news__slider:hover .slide-arrow {
  opacity: 0.8;
  pointer-events: all;
}
.news__slider .slick-list {
  margin: 0 -0.6vw;
}
.news__slider .slick-slide {
  margin: 1.5vw;
}
h2.news__heading,h2.contact__heading{
  position: relative;
  padding-top: 7vw;
}
h2.news__heading span,h2.contact__heading span{
  padding: 0 20px;
  background-color: #fff;
  z-index: 3;
  position: relative;
}
h2.news__heading:before {
  background: #f26633;
  height: 2px;
  width: 98%;
  top: 30px;
  left: 1%;
  content: "";
  position: absolute;
  z-index: 2;
}
.footer_content{
  margin: 0 7vw;
}
.news__slider .slide-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: #ffffff;
  font-size: 1.8vw;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
}
@media (max-width: 1023px) {
  .news__slider .slide-arrow {
    opacity: 1;
    pointer-events: all;
    background-color: transparent;
    font-size: 6vw;
    color: #ffffff;
  }
}
.news__slider .prev-arrow {
  right: calc(100% - 0.5vw);
}
@media (max-width: 1023px) {
  .news__slider .prev-arrow {
    right: unset;
    left: 0;
  }
}
.news__slider .next-arrow {
  left: calc(100% - 0.5vw);
}
@media (max-width: 1023px) {
  .news__slider .next-arrow {
    left: unset;
    right: 0;
  }
}
.news{
  padding: 7vw 0 0 0;
}
.news__slide {
  text-decoration: none;
  position: relative;
  /* padding-bottom: 7vw; */
}
@media (min-width: 740px) and (max-width: 1023px) {
  /* .news__slide {
    padding-bottom: 14vw;
  } */
}
@media (max-width: 739px) {
  /* .news__slide {
    padding-bottom: 25vw;
  } */
}
.news__slide:hover .news__image {
  background-size: 110% 110%;
}
.news__slide:hover .news__tag {
  background-color: #d26e4b;
}
.news__slide:hover .news__des {
  color: #008749;
}
.news__image {
  width: 100%;
  height: 15vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all ease 0.3s;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .news__image {
    height: 30vw;
  }
}
@media (max-width: 739px) {
  .news__image {
    /* height: 59vw; */
    height: 30vw;
  }
}
.news__body {
  /* width: 86%;
  background-color: #ffffff;
  padding: 1.2vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); */
}
@media (min-width: 740px) and (max-width: 1023px) {
  .news__body {
    /* padding: 2vw; */
  }
}
@media (max-width: 739px) {
  .news__body {
    /* padding: 3.2vw; */
  }
}
.news__tag {
  font-size: 0.6vw;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: inline-block;
  padding: 0 0.4vw;
  border-radius: 2px;
  transition: all ease 0.3s;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .news__tag {
    font-size: 1.5vw;
    padding: 0 0.6vw;
  }
}
@media (max-width: 739px) {
  .news__tag {
    font-size: 2.4vw;
    padding: 0 1vw;
  }
}
.news__body .readmore{
  text-align: center;
  background: #f26633;
  width: 170px;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 5px 5px 5px;
  font-size: 1.2vw;
  font-family: fw-bold;
  line-height: 1.7vw;
  color: #fff;
  border-radius: 15px;
}
h2.contact__heading{
  text-align: left;
}
h2.contact__heading:before{
  width: 100%;
  left: 0;
  bottom: 20px!important;
  background: #f26633;
  height: 2px;
  content: "";
  position: absolute;
  z-index: 2;
}
h2.contact__heading span{
  margin-left: 5vw;
}
.news__title {
  font-size: 1.2vw;
  line-height: 1.7vw;
  height: 3.4vw;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #1d1d1d;
  font-family: fw-bold;
  margin: 0.8vw 0;
  text-align: center;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .news__title {
    font-size: 3vw;
    line-height: 3.5vw;
    height: 7vw;
    margin: 1vw 0;
  }
}
@media (max-width: 739px) {
  .news__title {
    font-size: 5vw;
    line-height: 6vw;
    height: 12vw;
    margin: 2vw 0;
  }
}
.news__line {
  width: 15%;
  height: 0.2vw;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 0.4vw;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .news__line {
    height: 0.6vw;
  }
}
@media (max-width: 739px) {
  .news__line {
    height: 1vw;
  }
}
.news__des {
  font-size: 1vw;
  line-height: 1.5vw;
  height: 4.5vw;
  color: #224229;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  transition: all ease 0.3s;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .news__des {
    font-size: 2.4vw;
    line-height: 3vw;
    height: 9vw;
    margin: 1vw 0;
  }
}
@media (max-width: 739px) {
  .news__des {
    font-size: 3.6vw;
    line-height: 4.4vw;
    height: 8.8vw;
    margin: 2vw 0;
  }
}

.category__top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .category__top {
    flex-direction: column;
    padding-bottom: 0;
  }
}
@media (max-width: 1023px) {
  .category__anchor {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.category__anchor ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  list-style: none;
  font-size: 1.2vw;
}
@media (max-width: 1023px) {
  .category__anchor ul {
    font-size: 4vw;
  }
}
.category__anchor ul li:not(:first-child) {
  margin-left: 1vw;
}
@media (max-width: 1023px) {
  .category__anchor ul li:not(:first-child) {
    margin-left: 2vw;
  }
}
.category__anchor ul li:not(:first-child)::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-right: 1vw;
  font-size: 1vw;
  color: rgba(102, 102, 102, 0.7);
}
@media (max-width: 1023px) {
  .category__anchor ul li:not(:first-child)::before {
    font-size: 4vw;
    margin-right: 2vw;
  }
}
.category__anchor ul li a {
  text-decoration: none;
  color: rgba(102, 102, 102, 0.7);
}
.category__anchor ul li span {
  color: #224229;
  font-weight: bold;
}
.category__fill {
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .category__fill {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.category__fill__total {
  font-size: 1.2vw;
  margin-right: 1vw;
}
@media (max-width: 1023px) {
  .category__fill__total {
    font-size: 4vw;
    margin-bottom: 1.5vw;
  }
}
.category__fill__select {
  font-size: 1.2vw;
}
@media (max-width: 1023px) {
  .category__fill__select {
    font-size: 4vw;
  }
}
.category__pagination {
  display: flex;
  justify-content: center;
}
.category__pagination ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}
.category__pagination ul li {
  margin: 0 0.5vw;
}
@media (max-width: 1023px) {
  .category__pagination ul li {
    margin: 0 1vw;
  }
}
.category__pagination ul li a {
  text-decoration: none;
  font-size: 1vw;
  font-family: fw-bold;
  color: #008749;
  width: 2vw;
  height: 2vw;
  display: flex;
  border: 1px solid #008749;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all linear 0.3s;
}
@media (max-width: 1023px) {
  .category__pagination ul li a {
    font-size: 3vw;
    width: 6vw;
    height: 6vw;
  }
}
.category__pagination ul li a:hover {
  background-color: #008749;
  color: #ffffff;
}
.category__pagination ul li .active {
  background-color: #008749;
  color: #ffffff;
}

.details__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 0;
}
@media (max-width: 1023px) {
  .details__container {
    flex-direction: column;
  }
}
.details__images {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 35.47vw;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .details__images {
    width: 100%;
    align-items: center;
    margin-bottom: 5vw;
    flex-direction: column-reverse;
    height: auto;
  }
}
.details__images__nav {
  width: 15%;
  height: 100%;
}
@media (max-width: 1023px) {
  .details__images__nav {
    width: 100%;
  }
}
.details__images__nav:hover .slide-arrow {
  opacity: 1;
  pointer-events: all;
}
.details__images__nav .slide-arrow {
  position: absolute;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.2vw;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  z-index: 1;
  padding: 0.5vw 0;
  color: #f26633;
  opacity: 0;
  pointer-events: none;
  transition: all linear 0.3s;
}
@media (max-width: 1023px) {
  .details__images__nav .slide-arrow {
    opacity: 1;
    pointer-events: all;
    font-size: 6vw;
    width: auto;
    top: 50% !important;
    transform: translateY(-50%);
    background-color: transparent;
  }
}
.details__images__nav .prev-arrow {
  top: 0;
}
@media (max-width: 1023px) {
  .details__images__nav .prev-arrow {
    left: 0;
  }
}
.details__images__nav .next-arrow {
  bottom: 0;
}
@media (max-width: 1023px) {
  .details__images__nav .next-arrow {
    bottom: unset;
    right: 0;
  }
}
.details__images__nav .slick-slide {
  margin: 0.36vw 0;
}
@media (max-width: 1023px) {
  .details__images__nav .slick-slide {
    margin: 0 1.5vw;
  }
}
.details__images__nav .slick-list {
  margin: -0.36vw 0;
}
@media (max-width: 1023px) {
  .details__images__nav .slick-list {
    margin: 0 -1.5vw;
  }
}
.details__images__nav__item {
  height: 6.3vw;
  width: 6.3vw !important;
  cursor: pointer;
  transition: all ease 0.3s;
}
.details__images__nav__item:hover {
  opacity: 0.8;
}
@media (max-width: 1023px) {
  .details__images__nav__item {
    height: 21vw;
    width: 21vw !important;
  }
}
.details__images__slider {
  width: 100%;
}
.details__images__slider__container {
  width: 83%;
  position: relative;
}
@media (max-width: 1023px) {
  .details__images__slider__container {
    width: 100%;
    margin-bottom: 2vw;
  }
}
.details__images__slider__expand {
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  z-index: 1;
  font-size: 1.5vw;
  color: silver;
  border: 2px solid silver;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #00000052;
}
.details__images__slider__expand:hover {
  opacity: 1;
}
@media (max-width: 1023px) {
  .details__images__slider__expand {
    left: 3vw;
    bottom: 3vw;
    font-size: 4vw;
    width: 10vw;
    height: 10vw;
  }
}
.details__images__slider__item {
  height: 35.47vw;
  width: 35.47vw !important;
}
@media (max-width: 1023px) {
  .details__images__slider__item {
    height: 92vw;
    width: 96vw !important;
  }
}
.details__images__popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  transform: scale(0);
  opacity: 0;
  transition: all linear 0.2s;
}
.details__images__popup__active {
  transform: scale(1);
  opacity: 1;
}
.details__images__popup__close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  font-size: 2vw;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .details__images__popup__close {
    font-size: 8vw;
    top: 2vw;
    right: 2vw;
  }
}
.details__images__popup__close:hover {
  opacity: 0.8;
}
.details__images__popup__slider {
  margin: auto;
  width: 90vh !important;
  height: 90vh !important;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .details__images__popup__slider {
    width: 100vw !important;
    height: 100vw !important;
  }
}
.details__images__popup__slider .slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  outline: 0;
  border: 0;
  font-size: 2vw;
  background-color: transparent;
  cursor: pointer;
  color: #008749;
}
@media (max-width: 1023px) {
  .details__images__popup__slider .slide-arrow {
    font-size: 8vw;
  }
}
.details__images__popup__slider .slide-arrow:hover {
  opacity: 0.8;
}
.details__images__popup__slider .prev-arrow {
  left: 0;
}
.details__images__popup__slider .next-arrow {
  right: 0;
}
.details__images__popup__item {
  width: 100%;
}
.details__body {
  width: 32%;
}
.details__left{
  color: #224229;
  width: 20%;
  font-size: 1.1vw;
}
.border_content{
  border-color: rgb(223, 223, 223);
  border-radius: 7px;
  border-width: 1px 1px 1px 1px;
  margin: 2px 2px 2px 2px;
  border-style: solid;
  padding: 10px;
}
.text_inner{
  border: 1px solid #ddd;
  border-radius: 7px;
}
.details__left a{
  color: #224229;
  text-decoration: none;
}
.details__left a:hover{
  color: #16772b;
  text-decoration: underline;
}
@media (max-width: 1023px) {
  .details__body, .details__left {
    width: 100%;
  }
}
.details__name {
  font-size: 1.8vw;
  text-transform: capitalize;
  font-family: 'fw-bold';
}
@media (max-width: 1023px) {
  .details__name {
    font-size: 5vw;
  }
}
.details__name::after {
  content: "";
  display: block;
  width: 10%;
  height: 0.3vw;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 0.5vw;
}
@media (max-width: 1023px) {
  .details__name::after {
    height: 1vw;
    margin-top: 2vw;
  }
}
.details__price {
  font-size: 2.4vw;
  font-family: fw-bold;
  color: #008749;
  margin-top: 0.4vw;
}
@media (max-width: 1023px) {
  .details__price {
    font-size: 5vw;
    margin-top: 2vw;
  }
}
.details__contact {
  font-size: 1.2vw;
  font-family: ro-regular;
  text-decoration: none;
  background-color: #d26e4b;
  padding: 0.5vw 1vw;
  color: #ffffff;
  border-radius: 0.5vw;
  margin: 1vw 0;
  display: inline-block;
}
@media (max-width: 1023px) {
  .details__contact {
    font-size: 4vw;
    padding: 1vw 2vw;
    border-radius: 1vw;
    margin: 3vw 0;
  }
}
.details__contact:hover {
  opacity: 0.8;
}
.details__des {
  font-size: 1.2vw;
  font-family: quick;
}
@media (max-width: 1023px) {
  .details__des {
    font-size: 4vw;
  }
}
.details__tag {
  font-size: 1.5vw;
  margin: 1vw 0;
  display: flex;
}
@media (max-width: 1023px) {
  .details__tag {
    font-size: 4vw;
  }
}
.details__tag ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
}
.details__tag ul li {
  margin-left: 1vw;
}
@media (max-width: 1023px) {
  .details__tag ul li {
    margin-left: 3vw;
  }
}
.details__tag ul li a {
  color: #224229;
  opacity: 0.6;
}
.details__tag ul li a:hover {
  opacity: 1;
}
.details__socials {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}
@media (max-width: 1023px) {
  .details__socials {
    margin-top: 6vw;
  }
}
.details__socials li {
  margin: 0 1vw;
}
@media (max-width: 1023px) {
  .details__socials li {
    margin: 0 3vw;
  }
}
.details__socials li a {
  color: #224229;
  width: 3vw;
  height: 3vw;
  border: 0.2vw solid #224229;
  display: flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all linear 0.3s;
}
@media (max-width: 1023px) {
  .details__socials li a {
    width: 8vw;
    height: 8vw;
    color: #ffffff;
    background-color: #f26633;
  }
}
.details__socials li a:hover {
  color: #ffffff;
  background-color: #f26633;
}
.details__socials li a i {
  font-size: 1.5vw;
  margin: auto;
}
@media (max-width: 1023px) {
  .details__socials li a i {
    font-size: 4vw;
  }
}
.main .mark-footer{
  position: absolute;
  right: 0;
  width: 70vw;
  bottom: 20px;
  z-index: -1;
  opacity: 0.5;
}
.footer .mark-footer{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}
.footer {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 6vw;
  background-image: url('/upload/files/logo/footer-pc.jpg');
}
@media (max-width: 1023px) {
  .footer {
    padding-top: 3vw;
    margin-top: 3vw;
    background-image: url('/upload/files/logo/footer-mb.jpg');
  }
  .footer__body,.footer__block,.footer-info{
    font-size: 4vw!important;
  }
  .footer_content{
    margin: 0!important;
  }
  .contact-button{
    width: 60vw!important;
    padding: 20px 15px 15px 15px!important;
    font-size: 3vw!important;
  }
}
.footer__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f0efed;
}
.footer__block {
  width: 30%;
  font-size: 1.2vw;
}
.vw45{
width: 45vw;
}
.contact-sologan{
  font-weight: bold;
}
.contact-button{
  text-align: center;
  background: #f26633;
  width: 20vw;
  justify-content: center;
  margin: 30px 0;
  padding: 10px 5px 5px 5px;
  font-size: 1.2vw;
  font-family: fw-bold;
  line-height: 1.7vw;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.contact-button:hover{
  background: #ff4f0f;
}
.contact-link{
  font-style: italic;
}
.contact-link a{
  color:#000;
  text-decoration: none;
  transition: all ease 0.3s;
}
.contact-link a:hover{
  color:rgb(236, 125, 51);
  text-decoration: underline;
}
.fa-play{
  color: #f26633;
  margin-right: 20px;
}
.footer-info{
  font-size: 1.2vw;
  font-weight: 500;
  font-style: italic;
  margin-top: 4vw;
}
.footer-info p{
  margin: 0.5em 0;
}
@media (max-width: 1023px) {
  .footer__block {
    width: 100%;
    margin-bottom: 5vw;
  }
}
.footer__logo {
  width: 30%;
  display: block;
}
@media (max-width: 1023px) {
  .footer__logo {
    margin: auto;
    width: 30%;
  }
}
.footer__logo img {
  width: 100%;
}
.footer__slogan {
  margin-top: 1.5vw;
  font-size: 1.2vw;
  color: #ffffff;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  .footer__slogan {
    font-size: 5.4vw;
    margin-top: 5vw;
    position: relative;
    margin-top: 8vw;
  }
}
.footer__slogan::before {
  content: "";
  display: block;
  height: 0.2vw;
  width: 20%;
  margin-bottom: 1vw;
  background-color: #d4d9d2;
}
@media (max-width: 1023px) {
  .footer__slogan::before {
    position: absolute;
    top: -4vw;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
}
.footer__slogan span {
  font-family: fw-bold;
}
.footer__heading {
  font-size: 1.6vw;
  font-family: fw-bold;
  color: #ffffff;
  margin-bottom: 2vw;
  display: inline-block;
}
@media (max-width: 1023px) {
  .footer__heading {
    font-size: 5.4vw;
    margin-bottom: 5vw;
  }
}
.footer__heading::after {
  content: "";
  display: block;
  height: 0.2vw;
  width: 70%;
  background-color: #d4d9d2;
  margin-top: 0.5vw;
}
@media (max-width: 1023px) {
  .footer__heading::after {
    height: 0.8vw;
    margin-top: 2.5vw;
  }
}
.footer__list {
  padding-left: 0;
  list-style: none;
  color: #f26633;
  font-size: 1.2vw;
  margin: 0;
}
@media (max-width: 1023px) {
  .footer__list {
    font-size: 5vw;
  }
}
.footer__list li {
  display: flex;
  align-items: baseline;
  /* border-bottom: 1px solid #ffffff; */
  line-height: 2vw;
  /* font-family: fw-bold; */
}
@media (max-width: 1023px) {
  .footer__list li {
    line-height: 10vw;
  }
}
.footer__list li::before {
  /* content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.8vw;
  margin-right: 0.8vw;
  color: #008749; */
}
.footer__list li a {
  color: #f26633;
  text-decoration: none;
  transition: all ease 0.3s;
  font-weight: 600;

}
.footer__list li a:hover {
  font-weight: bold;
  color: #f17648;
  text-decoration: underline;
}
.footer__socials {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  margin-top: 2vw;
}
@media (max-width: 1023px) {
  .footer__socials {
    margin-top: 8vw;
  }
}
.footer__socials li {
  margin: 0 1vw;
}
@media (max-width: 1023px) {
  .footer__socials li {
    margin: 0 3vw;
  }
}
.footer__socials li a {
  color: #ffffff;
  width: 3vw;
  height: 3vw;
  border: 0.15vw solid #ffffff;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  transition: all linear 0.3s;
}
@media (max-width: 1023px) {
  .footer__socials li a {
    width: 10vw;
    height: 10vw;
  }
}
.footer__socials li a:hover {
  background-color: #ffffff;
  color: #f26633;
}
.footer__socials li a i {
  font-size: 1.5vw;
  margin: auto;
}
@media (max-width: 1023px) {
  .footer__socials li a i {
    font-size: 5vw;
  }
}
.footer__bot {
  font-size: 1vw;
  text-align: center;
  color: #ffffff;
  background-color: rgba(34, 66, 41, 0.92);
  padding: 0.4vw 0;
  font-family: ro-regular;
}
@media (max-width: 1023px) {
  .footer__bot {
    font-size: 4vw;
    padding: 2vw 0;
  }
}
.list-pro.container .list-pro__container{
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.list-pro.container .list-pro__block{
  margin-left: 0.4vw;
}
.not-available{
  padding-left: 10vw;
  font-size: 1.2vw;
}
@media screen and (max-width: 1024px){
  .list-pro.container .list-pro__block{
    margin-left: 3.6vw; 
  }
}
/*# sourceMappingURL=main.css.map */
