.article-content .details__des img,.list_other_new img{
  width: 100%;
}
.details_article_body{
  width: 78%;
  border-right: 1px solid #ececec;
  padding-right: 2%;
}
.details_article_sidebar{
  width: 20%;
}
.article-content{
  padding: 2vw 14vw;
}
.item_new .new_info{
  padding-left: 10px;
  width: 70%;
  float: left;
  font-size: 14px;
  color: #224229;
}
.item_new .new_info p,.item_new .new_info a{
  color: #224229;
  line-height: 1.3;
  margin: 0;
  font-size: 0.9vw;
}
.item_new .image_new{
  width: 30%;
  float: left;
}
.item_new{
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.details__des p{
  margin: 5px 0;
}

.widget-title {
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: .05em;
  text-transform: uppercase;
}
.is-divider {
  height: 3px;
  display: block;
  background-color: rgba(0,0,0,.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
}
.list_other_new{
  margin-top: 20px;
}
#more-about-us{
  color: #214738;
  font-weight: bold;
  transition: all ease 0.3s;
}
#more-about-us:hover{
  color:#1d704f;
}
@media (max-width: 991px){
  .banner{
    height: 30vw;
  }
}
@media (max-width: 1023px){
  .details_article_body, .details_article_sidebar{
      width: 100%;
  }
  .article-content{
    padding:4vw;
  }
  .widget-title,.item_new .new_info p, .item_new .new_info a{
    font-size: 5vw;
  }
  .is-divider{
    height: 2vw;
    max-width: 150px;
  }
  .details_article_body{
    border-right: none;
    padding-right: 0;
  }
}
.banner{
  height: 20vw;
}
.loadMore {
  display: table;
  margin: 20px auto;
  border: solid 2px #214738;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0 20px;
  cursor: pointer;
  color: #214738;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.loadMore:hover {
  color: #fff;
  border-color: #214738;
  background: #214738;
}
.footer__bot p{
margin: 0;
}
.footer__bot p a{
  margin: 0;
  color: #1b8719;
}
.news__list .item__new{
  width: 24vw;
  height: 30vw;
  /* margin-bottom: 2vw; */
  display: inline-block;
}
.news__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
}
.item__new .news__body{
  bottom: -7vw;
}
@media (max-width: 1024px) {
  .news__list .item__new{
    width: 40vw;
    height: 45vw;
    margin-bottom: 5vw;
  }
  .item__new .news__body{
    bottom: -15vw;
    width: 36vw;
    left: 20vw;
  }
}
@media (max-width: 740px) {
  .news__list .news__slide{
    width: 80vw;
  }
  .item__new .news__image {
    height: 60vw;
  }
  .news__list .item__new{
    width: 90vw;
    height: 80vw;
    margin-bottom: 5vw;
  }
  .item__new .news__body{
    width: 80vw;
    left: 45vw;
  }
}
.footer__slogan{
  text-transform: uppercase;
}
/* #load-gallery .list-pro__image{
  background-size: cover;
} */
.about-us{
  position: relative;
}
.about-us .about-us__image{
  width: 50vw;
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-us .about-us__body{
  position: absolute;
  width: 30vw;
  background-color: #fff;
  padding: 25px 30px;
  top: 5vw;
  right: 15vw;
}
.about-us__body .about-us__heading{
  margin: 10px 0px;
  font-size: 2vw;
}
.about-us__body .about-us__container{
  font-size: 1.2vw;
}
.more_info{
  font-size: 1.2vw;
}
.more_info td{
  width: 50%;
  border-bottom: 1px solid #ececec;
  color:#224229;
}
.bold{
  font-weight: bold;
}
.details__container.container{
  padding: 2vw 2vw;
}
.more_info td p{
  margin: 0;
}

@media (min-width: 1024px) and (max-width: 1200px){
  .about-us .about-us__image {
    width: 55vw;
    height: 450px;
  }
  .about-us .about-us__body {
    width: 35vw;
    top: 10vw;
    right: 10vw;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .about-us .about-us__image{
    height: 430px;
  }
}
@media screen and (max-width: 767px){
  .about-us .about-us__image{
    height: 330px;
  }
  .news__image{
    background-size: cover!important;
  }
}
@media screen and (max-width: 1023px){
  .about-us .about-us__image{
    width: 98vw;
  }
  .more_info, .details__left{
    font-size: 4vw;
  }
  .about-us .about-us__body {
    width: 98vw;
    position: relative;
    right:0!important;
    top:2vw!important;
  }
  .about-us__body .about-us__heading{
    font-size: 6vw;
  }
  .about-us__body .about-us__container{
    font-size: 3.6vw;
  }
}