@font-face {
    font-family: 'fw-bold';
    src: url('../font/Arsenal-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-bold-i';
    src: url('../font/Arsenal-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-regular';
    src: url('../font/Arsenal-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'fw-regular-i';
    src: url('../font/Arsenal-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'ro-regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'ro-bold';
    src: url('../font/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'ro-light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'quick';
    src: url('../font/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'antiqua';
    src: url('../font/ANTQUAB.ttf') format('truetype');
}



