// color
$primary-color: #214738;
$secondary-color: #008749;
$black-color: #224229;
$white-color: #ffffff;
$yellow-color: #edba45;
$shadow-box: 1px 1px 5px 1px rgba(11, 11, 11, 0.5);
// modal background
$bg-modal:rgba(0, 0, 0, 0.7);
